Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: None
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 120
SortIncludes: true
IncludeBlocks: Preserve
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AccessModifierOffset: 0
